.map-wrapper{
    position: relative;
    width: 500px;
    height: 500px;
    margin: 50px auto;
}
.map-border{
    border: 5px solid gray;
    height: 100%;

}
#map{
    height: 100%;
}
h1{
    background-color: #D92365;
    color: white;
    padding: 20px;
    width:400px;
    margin: 0 auto;
}
